################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/frostshoxx-terminal/obj
/.vs
/frostshoxx-terminal/bin/Debug/net8.0
