################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/frostshoxx-terminal/bin/Debug/net8.0
/frostshoxx-terminal/obj/Debug/net8.0
/frostshoxx-terminal/obj
/Frostshoxx.Terminal/obj
/Frostshoxx.Terminal/bin/Debug/net8.0
